/* line 17, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 10, ../../../../assets/src/base.sass */
body {
  background: black;
  font-family: "Merriweather", serif;
  font-weight: 400;
}

/* line 15, ../../../../assets/src/base.sass */
li,
a,
p,
button {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-size: 12px;
}

/* line 23, ../../../../assets/src/base.sass */
h1, h2, h3 {
  font-weight: 400;
  color: #b6b197;
}

/* line 26, ../../../../assets/src/base.sass */
h4, h5, h6 {
  font-weight: 700;
  color: #b6b197;
}

/* line 30, ../../../../assets/src/base.sass */
.module {
  width: 800px;
  min-height: 610px;
  margin: 20px auto;
}

/* line 3, ../../../../assets/src/_tree.sass */
.tree {
  width: 799px;
  height: 665px;
  position: relative;
  margin: 60px auto 0;
}
/* line 8, ../../../../assets/src/_tree.sass */
.tree header {
  color: #b6b197;
  font-size: 18px;
}
/* line 11, ../../../../assets/src/_tree.sass */
.tree header div {
  width: 48px;
  height: 48px;
}
/* line 14, ../../../../assets/src/_tree.sass */
.tree header div,
.tree header h1 {
  float: left;
}
/* line 17, ../../../../assets/src/_tree.sass */
.tree header h1 {
  margin: 2px 0 0 5px;
}
/* line 20, ../../../../assets/src/_tree.sass */
.tree article header {
  width: 100%;
  height: 60px;
}

/* line 24, ../../../../assets/src/_tree.sass */
aside,
article {
  float: left;
}

/* line 28, ../../../../assets/src/_tree.sass */
aside {
  width: 227px;
  height: 616px;
  margin: 0 11px 0 6px;
}
/* line 32, ../../../../assets/src/_tree.sass */
aside ul {
  border: 1px #716664 solid;
  margin-top: 9px;
  height: 616px;
}
/* line 36, ../../../../assets/src/_tree.sass */
aside ul a {
  color: #b6b197;
  text-decoration: none;
}
/* line 39, ../../../../assets/src/_tree.sass */
aside ul .exalted_angel,
aside ul .unyielding_sentinel {
  -webkit-box-shadow: inset 0 0 28px rgba(255, 234, 0, 0.35);
  -moz-box-shadow: inset 0 0 28px rgba(255, 234, 0, 0.35);
  box-shadow: inset 0 0 28px rgba(255, 234, 0, 0.35);
}
/* line 42, ../../../../assets/src/_tree.sass */
aside ul .exalted_angel.active,
aside ul .unyielding_sentinel.active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #876e34), color-stop(100%, #3f3318));
  background-image: -webkit-linear-gradient(top, #876e34, #3f3318);
  background-image: -moz-linear-gradient(top, #876e34, #3f3318);
  background-image: -o-linear-gradient(top, #876e34, #3f3318);
  background-image: -ms-linear-gradient(top, #876e34, #3f3318);
  background-image: linear-gradient(top, #876e34, #3f3318);
  -webkit-box-shadow: inset 0 0 6px #937e43;
  -moz-box-shadow: inset 0 0 6px #937e43;
  box-shadow: inset 0 0 6px #937e43;
}
/* line 45, ../../../../assets/src/_tree.sass */
aside ul .fatesinger,
aside ul .draconic_incarnation,
aside ul .magister {
  -webkit-box-shadow: inset 0 0 28px rgba(189, 10, 10, 0.5);
  -moz-box-shadow: inset 0 0 28px rgba(189, 10, 10, 0.5);
  box-shadow: inset 0 0 28px rgba(189, 10, 10, 0.5);
}
/* line 49, ../../../../assets/src/_tree.sass */
aside ul .fatesinger.active,
aside ul .draconic_incarnation.active,
aside ul .magister.active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #751f20), color-stop(100%, #330e0e));
  background-image: -webkit-linear-gradient(top, #751f20, #330e0e);
  background-image: -moz-linear-gradient(top, #751f20, #330e0e);
  background-image: -o-linear-gradient(top, #751f20, #330e0e);
  background-image: -ms-linear-gradient(top, #751f20, #330e0e);
  background-image: linear-gradient(top, #751f20, #330e0e);
  -webkit-box-shadow: inset 0 0 6px #ba7c7b;
  -moz-box-shadow: inset 0 0 6px #ba7c7b;
  box-shadow: inset 0 0 6px #ba7c7b;
}
/* line 52, ../../../../assets/src/_tree.sass */
aside ul .grandmaster_of_flowers,
aside ul .legendary_dreadnought,
aside ul .shadowdancer {
  -webkit-box-shadow: inset 0 0 28px rgba(50, 100, 255, 0.4);
  -moz-box-shadow: inset 0 0 28px rgba(50, 100, 255, 0.4);
  box-shadow: inset 0 0 28px rgba(50, 100, 255, 0.4);
}
/* line 56, ../../../../assets/src/_tree.sass */
aside ul .grandmaster_of_flowers.active,
aside ul .legendary_dreadnought.active,
aside ul .shadowdancer.active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #43569b), color-stop(100%, #1d2643));
  background-image: -webkit-linear-gradient(top, #43569b, #1d2643);
  background-image: -moz-linear-gradient(top, #43569b, #1d2643);
  background-image: -o-linear-gradient(top, #43569b, #1d2643);
  background-image: -ms-linear-gradient(top, #43569b, #1d2643);
  background-image: linear-gradient(top, #43569b, #1d2643);
  -webkit-box-shadow: inset 0 0 6px #6b7dbb;
  -moz-box-shadow: inset 0 0 6px #6b7dbb;
  box-shadow: inset 0 0 6px #6b7dbb;
}
/* line 59, ../../../../assets/src/_tree.sass */
aside ul .shiradi_champion,
aside ul .fury_of_the_wild {
  -webkit-box-shadow: inset 0 0 28px rgba(40, 160, 43, 0.45);
  -moz-box-shadow: inset 0 0 28px rgba(40, 160, 43, 0.45);
  box-shadow: inset 0 0 28px rgba(40, 160, 43, 0.45);
}
/* line 62, ../../../../assets/src/_tree.sass */
aside ul .shiradi_champion.active,
aside ul .fury_of_the_wild.active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4c8246), color-stop(100%, #143511));
  background-image: -webkit-linear-gradient(top, #4c8246, #143511);
  background-image: -moz-linear-gradient(top, #4c8246, #143511);
  background-image: -o-linear-gradient(top, #4c8246, #143511);
  background-image: -ms-linear-gradient(top, #4c8246, #143511);
  background-image: linear-gradient(top, #4c8246, #143511);
  -webkit-box-shadow: inset 0 0 6px #62915b;
  -moz-box-shadow: inset 0 0 6px #62915b;
  box-shadow: inset 0 0 6px #62915b;
}
/* line 65, ../../../../assets/src/_tree.sass */
aside ul li {
  height: 17px;
  margin: 7px 10px 11px 40px;
  padding: 13px 0 8px 18px;
  position: relative;
}
/* line 70, ../../../../assets/src/_tree.sass */
aside ul li div {
  height: 48px;
  width: 48px;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
  position: absolute;
  top: -11px;
  left: -46px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  border: 6px black solid;
}

/* line 80, ../../../../assets/src/_tree.sass */
.grid {
  margin-top: 17px;
  border: 1px #716664 solid;
  padding-top: 10px;
  height: 513px;
}

/* line 86, ../../../../assets/src/_tree.sass */
.trees-draconic_incarnation {
  background: url('/assets/img/backgrounds/trees/draconic_incarnation.png?1340517542');
}

/* line 88, ../../../../assets/src/_tree.sass */
.trees-exalted_angel {
  background: url('/assets/img/backgrounds/trees/exalted_angel.png?1340517202');
}

/* line 90, ../../../../assets/src/_tree.sass */
.trees-fatesinger {
  background: url('/assets/img/backgrounds/trees/fatesinger.png?1340516880');
}

/* line 92, ../../../../assets/src/_tree.sass */
.trees-fury_of_the_wild {
  background: url('/assets/img/backgrounds/trees/fury_of_the_wild.png?1340516754');
}

/* line 94, ../../../../assets/src/_tree.sass */
.trees-grandmaster_of_flowers {
  background: url('/assets/img/backgrounds/trees/grandmaster_of_flowers.png?1340516616');
}

/* line 96, ../../../../assets/src/_tree.sass */
.trees-legendary_dreadnought {
  background: url('/assets/img/backgrounds/trees/legendary_dreadnought.png?1340516420');
}

/* line 98, ../../../../assets/src/_tree.sass */
.trees-magister {
  background: url('/assets/img/backgrounds/trees/magister.png?1340516230');
}

/* line 100, ../../../../assets/src/_tree.sass */
.trees-shadowdancer {
  background: url('/assets/img/backgrounds/trees/shadowdancer.png?1340515884');
}

/* line 102, ../../../../assets/src/_tree.sass */
.trees-shiradi_champion {
  background: url('/assets/img/backgrounds/trees/shiradi_champion.png?1340514747');
}

/* line 104, ../../../../assets/src/_tree.sass */
.trees-unyielding_sentinel {
  background: url('/assets/img/backgrounds/trees/unyielding_sentinel.png?1340514404');
}

/* line 107, ../../../../assets/src/_tree.sass */
.gridrow {
  overflow: hidden;
  *zoom: 1;
}
/* line 109, ../../../../assets/src/_tree.sass */
.gridrow .griditem {
  float: left;
  width: 37px;
  height: 41px;
  margin-right: 23px;
  margin-bottom: 30px;
  position: relative;
  text-align: center;
  color: #b6b197;
  font-size: 9px;
}
/* line 110, ../../../../assets/src/_tree.sass */
.gridrow .griditem a {
  height: 40px;
  width: 40px;
  display: block;
}
/* line 123, ../../../../assets/src/_tree.sass */
.gridrow .griditem:first-child {
  margin-left: 10px;
}
/* line 125, ../../../../assets/src/_tree.sass */
.gridrow .griditem:last-child {
  margin-right: 10px;
}
/* line 127, ../../../../assets/src/_tree.sass */
.gridrow .passive:before,
.gridrow .passive:after,
.gridrow .inner-passive:before,
.gridrow .inner-passive:after {
  content: "";
  background: #333333;
  width: 16px;
  height: 36px;
  position: absolute;
  top: 0;
  left: 10px;
  border-left: 0 none;
  border-right: 0 none;
  background: #333333;
  border-top: 2px #dddddd solid;
  border-bottom: 2px #dddddd solid;
}
/* line 143, ../../../../assets/src/_tree.sass */
.gridrow .passive:before {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  border-color: #aaaaaa;
}
/* line 146, ../../../../assets/src/_tree.sass */
.gridrow .inner-passive:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  border-color: #eeeeee;
}
/* line 149, ../../../../assets/src/_tree.sass */
.gridrow .inner-passive:after {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  border-color: #999999;
}
/* line 152, ../../../../assets/src/_tree.sass */
.gridrow .active {
  position: absolute;
  top: 0;
  left: 0;
  background: #333333;
  border: 2px #dddddd solid;
  border-left-color: #999999;
  border-right-color: #999999;
  width: 33px;
  height: 37px;
}

/* line 163, ../../../../assets/src/_tree.sass */
.points {
  margin-top: 10px;
}
/* line 165, ../../../../assets/src/_tree.sass */
.points p {
  color: white;
  padding: 0 10px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  text-transform: capitalize;
}

/* line 172, ../../../../assets/src/_tree.sass */
button {
  background: #350000;
  border: 1px #c4b99d solid;
  -webkit-box-shadow: 0 0 1px 0 #5b5243;
  -moz-box-shadow: 0 0 1px 0 #5b5243;
  box-shadow: 0 0 1px 0 #5b5243;
  color: #f9dac6;
  text-transform: capitalize;
  margin: 50px 15px 0;
  float: right;
  font-size: 14px;
}
/* line 181, ../../../../assets/src/_tree.sass */
button[disabled="disabled"] {
  background: #4a484d;
  color: #cbc9ca;
}

/* line 185, ../../../../assets/src/_tree.sass */
.toggleTooltip {
  width: 40px;
  height: 40px;
  position: relative;
  z-index: 10;
  padding-right: 5px;
}

/* line 1, ../../../../assets/src/_map.sass */
.map {
  background: url('/assets/img/backgrounds/map_view.jpg?1340325329');
  width: 772px;
  height: 619px;
  position: relative;
  margin: 0 auto;
}

/* line 8, ../../../../assets/src/_map.sass */
.divine,
.martial,
.primal,
.arcane {
  position: absolute;
  height: 210px;
  width: 220px;
}

/* line 16, ../../../../assets/src/_map.sass */
.divine {
  left: 10px;
  top: 202px;
}
/* line 19, ../../../../assets/src/_map.sass */
.divine .us {
  left: 40px;
  top: 4px;
}
/* line 22, ../../../../assets/src/_map.sass */
.divine .ea {
  left: 143px;
  top: 160px;
}

/* line 26, ../../../../assets/src/_map.sass */
.martial {
  left: 268px;
  top: 60px;
}
/* line 29, ../../../../assets/src/_map.sass */
.martial .gf {
  left: 7px;
  top: 14px;
}
/* line 32, ../../../../assets/src/_map.sass */
.martial .sd {
  left: 87px;
  top: 155px;
}
/* line 35, ../../../../assets/src/_map.sass */
.martial .ld {
  left: 165px;
  top: 13px;
}

/* line 39, ../../../../assets/src/_map.sass */
.primal {
  left: 550px;
  top: 210px;
}
/* line 42, ../../../../assets/src/_map.sass */
.primal .sc {
  left: 138px;
  top: 7px;
}
/* line 45, ../../../../assets/src/_map.sass */
.primal .fw {
  left: 34px;
  top: 159px;
}

/* line 49, ../../../../assets/src/_map.sass */
.arcane {
  left: 265px;
  top: 348px;
}
/* line 52, ../../../../assets/src/_map.sass */
.arcane .fs {
  left: 89px;
  top: 11px;
}
/* line 55, ../../../../assets/src/_map.sass */
.arcane .di {
  left: 11px;
  top: 151px;
}
/* line 58, ../../../../assets/src/_map.sass */
.arcane .mg {
  left: 165px;
  top: 149px;
}

/* line 62, ../../../../assets/src/_map.sass */
.us,
.ea,
.gf,
.sd,
.ld,
.sc,
.fw,
.fs,
.di,
.mg {
  position: absolute;
}
/* line 74, ../../../../assets/src/_map.sass */
.us a div,
.ea a div,
.gf a div,
.sd a div,
.ld a div,
.sc a div,
.fw a div,
.fs a div,
.di a div,
.mg a div {
  width: 48px;
  height: 48px;
}

/* line 1, ../../../../assets/src/_tooltip.sass */
.tooltip {
  position: absolute;
  background: #242625;
  padding: 20px;
  max-width: 250px;
  font-size: 12px;
  right: 50px;
  border-top: 2px #765337 solid;
  border-right: 1px #765337 solid;
  border-bottom: 2px #765337 solid;
  border-left: 1px #765337 solid;
  color: #c5c1c2;
  line-height: 14px;
}
/* line 14, ../../../../assets/src/_tooltip.sass */
.tooltip h4 {
  text-align: center;
  margin-bottom: 10px;
}

/* line 1, ../../../../assets/src/_footer.sass */
footer {
  text-align: center;
  color: #b6b197;
  margin-bottom: 20px;
}
/* line 5, ../../../../assets/src/_footer.sass */
footer a {
  color: #b6b197;
  text-decoration: none;
}
/* line 8, ../../../../assets/src/_footer.sass */
footer a:hover {
  text-decoration: underline;
}

/* line 114, sprites/destinies/*.png */
.destinies-sprite, .destinies-draconic_incarnation, .destinies-exalted_angel, .destinies-fatesinger, .destinies-fury_of_the_wild, .destinies-grandmaster_of_flowers, .destinies-legendary_dreadnought, .destinies-magister, .destinies-shadowdancer, .destinies-shiradi_champion, .destinies-unyielding_sentinel {
  background: url('/assets/generated/img/sprites/destinies-s810ad82d4b.png') no-repeat;
}

/* line 60, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.destinies-draconic_incarnation {
  background-position: 0 0;
}

/* line 60, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.destinies-exalted_angel {
  background-position: 0 -144px;
}

/* line 60, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.destinies-fatesinger {
  background-position: 0 -48px;
}

/* line 60, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.destinies-fury_of_the_wild {
  background-position: 0 -240px;
}

/* line 60, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.destinies-grandmaster_of_flowers {
  background-position: 0 -96px;
}

/* line 60, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.destinies-legendary_dreadnought {
  background-position: 0 -192px;
}

/* line 60, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.destinies-magister {
  background-position: 0 -288px;
}

/* line 60, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.destinies-shadowdancer {
  background-position: 0 -432px;
}

/* line 60, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.destinies-shiradi_champion {
  background-position: 0 -384px;
}

/* line 60, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.destinies-unyielding_sentinel {
  background-position: 0 -336px;
}
