<a data-toggle="tooltip" data-content="{{> tooltip}}" data-postion="right">
  {{#passive}}<div class="passive"> <div class="inner-passive"></div></div>{{/passive}}
  {{^passive}}<div class="active"></div>{{/passive}}
</a>