{{#model}}
<article id="{{dID}}">
  <header>
    <h1>{{name}}</h1>
  </header>
  <div class=grid>
    <div class=gridrow>
      <div class="6a griditem">
        {{#6a}}
            {{> ability}}
        {{/6a}}
      </div>
      <div class="6b griditem">
        {{#6b}}
            {{> ability}}
        {{/6b}}
      </div>
      <div class="6c griditem">
        {{#6c}}
            {{> ability}}
        {{/6c}}
      </div>
      <div class="6d griditem">
        {{#6d}}
            {{> ability}}
        {{/6d}}
      </div>
      <div class="6e griditem">
        {{#6e}}
            {{> ability}}
        {{/6e}}
      </div>
    </div>
    <div class=gridrow>
      <div class="5a griditem">
        {{#5a}}
            {{> ability}}
        {{/5a}}
      </div>
      <div class="5b griditem">
        {{#5b}}
            {{> ability}}
        {{/5b}}
      </div>
      <div class="5c griditem">
        {{#5c}}
            {{> ability}}
        {{/5c}}
      </div>
      <div class="5d griditem">
        {{#5d}}
            {{> ability}}
        {{/5d}}
      </div>
      <div class="5e griditem">
        {{#5e}}
            {{> ability}}
        {{/5e}}
      </div>
    </div>
    <div class=gridrow>
      <div class="4a griditem">
        {{#4a}}
            {{> ability}}
        {{/4a}}
      </div>
      <div class="4b griditem">
        {{#4b}}
          {{> ability}}
        {{/4b}}
      </div>
      <div class="4c griditem">
        {{#4c}}
          {{> ability}}
        {{/4c}}
      </div>
      <div class="4d griditem">
        {{#4d}}
          {{> ability}}
        {{/4d}}
      </div>
      <div class="4e griditem">
        {{#4e}}
          {{> ability}}
        {{/4e}}
      </div>
    </div>
    <div class=gridrow>
      <div class="3a griditem">
        {{#3a}}
          {{> ability}}
        {{/3a}}
      </div>
      <div class="3b griditem">
        {{#3b}}
          {{> ability}}
        {{/3b}}
      </div>
      <div class="3c griditem">
        {{#3c}}
          {{> ability}}
        {{/3c}}
      </div>
      <div class="3d griditem">
        {{#3d}}
          {{> ability}}
        {{/3d}}
      </div>
      <div class="3e griditem">
        {{#3e}}
          {{> ability}}
        {{/3e}}
      </div>
    </div>
    <div class=gridrow>
      <div class="2a griditem">
        {{#2a}}
          {{> ability}}
        {{/2a}}
      </div>
      <div class="2b griditem">
        {{#2b}}
          {{> ability}}
        {{/2b}}
      </div>
      <div class="2c griditem">
        {{#2c}}
          {{> ability}}
        {{/2c}}
      </div>
      <div class="2d griditem">
        {{#2d}}
          {{> ability}}
        {{/2d}}
      </div>
      <div class="2e griditem">
        {{#2e}}
          {{> ability}}
        {{/2e}}
      </div>
    </div>
    <div class=gridrow>
      <div class="1a griditem">
        {{#1a}}
          {{> ability}}
        {{/1a}}
      </div>
      <div class="1b griditem">
        {{#1b}}
          {{> ability}}
        {{/1b}}
      </div>
      <div class="1c griditem">
        {{#1c}}
          {{> ability}}
        {{/1c}}
      </div>
      <div class="1d griditem">
        {{#1d}}
          {{> ability}}
        {{/1d}}
      </div>
      <div class="1e griditem">
        {{#1e}}
          {{> ability}}
        {{/1e}}
      </div>
    </div>
  </div>
</article>
{{/model}}