<div class="clear"></div>
<footer>
  <p>Original assets Copyright &copy; 2013 ddodestiny.info.  Visit <a href="http://www.ddo.com">http://www.DDO.com</a>.</p>

  <p><a href="https://github.com/jeffharnois/DDO-destiny-builder">View on github</a></p>
  
  <p>Data incorrect?  <a href="https://github.com/jeffharnois/epic-Destiny-Obj/issues/new" target="_blank">Submit it here</a>  Found a bug?  <a href="https://github.com/jeffharnois/DDO-destiny-builder/issues/new" target="_blank">Open an issue</a></p>
</footer>