<article class=map>
  <div class=divine>
    <div class=us>
      <a href="/d//d/unyielding_sentinel"><div class="destinies-unyielding_sentinel"></div></a>
    </div>
    <div class=ea>
      <a href="/d//d/exalted_angel"><div class="destinies-exalted_angel"></div></a>
    </div>
  </div>
  <div class=martial>
    <div class=gf>
      <a href="/d/grandmaster_of_flowers"><div class="destinies-grandmaster_of_flowers"></div></a>
    </div>
    <div class=sd>
      <a href="/d/shadowdancer"><div class="destinies-shadowdancer"></div></a>
    </div>
    <div class=ld>
      <a href="/d/legendary_dreadnought"><div class="destinies-legendary_dreadnought"></div></a>
    </div>
  </div>
  <div class=primal>
    <div class=sc>
      <a href="/d/shiradi_champion"><div class="destinies-shiradi_champion"></div></a>
    </div>
    <div class=fw>
      <a href="/d/fury_of_the_wild"><div class="destinies-fury_of_the_wild"></div></a>
    </div>
  </div>
  <div class=arcane>
    <div class=fs>
      <a href="/d/fatesinger"><div class="destinies-fatesinger"></div></a>
    </div>
    <div class=di>
      <a href="/d/draconic_incarnation"><div class="destinies-draconic_incarnation"></div></a>
    </div>
    <div class=mg>
      <a href="/d/magister"><div class="destinies-magister"></div></a>
    </div>
  </div>
</article>