<div class=mytooltip>
  <h2>{{taken}} Rank:</h2>
  <h4> {{{abil_name}}} <small>({{required}} points required)</small></h4> 
  <p>{{#abil.1}}Choose one: <br />{{abil.1}}{{#abil.2}}<br /><br />{{abil.2}}{{/abil.2}}{{#abil.3}}<br /><br />{{abil.3}}{{/abil.3}} {{#abil.4}}<br /><br />{{abil.4}}{{/abil.4}}{{#abil.5}}<br /><br />{{abil.5}}{{/abil.5}}{{#abil.6}}<br /><br />{{abil.6}}{{/abil.6}}{{#abil.7}}<br /><br />{{abil.7}}{{/abil.7}}{{/abil.1}}{{^abil.1}}{{{abil}}}{{/abil.1}}</p>
</div>