<div class="tree">
  <aside>
    <header>
      <h2>Destinies</h2>
    </header>
    <ul>
      {{#collection}}
        <a href="/d/{{dID}}"><li class="{{dID}}"><div class="destinies-{{dID}}"></div>{{name}}</li></a>
      {{/collection}}
    </ul>
  </aside>
  {{> class}}
</div>