<article class="tree">
  <aside class=nav>
    <hgroup>
      <h2>Destinies</h2>
    </hgroup>
    <ul>
      <a href="/d/draconic_incarnation">
        <li class="draconic_incarnation"><div class="classes-draconic_incarnation"></div>
          Draconic Incarnation
        </li>
      </a>
      <a href="/d/divine_crusader">
        <li class="divine_crusader"><div class="classes-divine_crusader"></div>
          Divine Crusader
        </li>
      </a>
      <a href="/d/exalted_angel">
        <li class="exalted_angel"><div class="classes-exalted_angel"></div>
          Exalted Angel
        </li>
      </a>
      <a href="/d/fatesinger">
        <li class="fatesinger"><div class="classes-fatesinger"></div>
          Fatesinger
        </li>
      </a>
      <a href="/d/fury_of_the_wild">
        <li class="fury_of_the_wild"><div class="classes-fury_of_the_wild"></div>
          Fury of the Wild
        </li>
      </a>
      <a href="/d/grandmaster_of_flowers">
        <li class="grandmaster_of_flowers"><div class="classes-grandmaster_of_flowers"></div>
          Grandmaster of Flowers
        </li>
      </a>
      <a href="/d/legendary_dreadnought">
        <li class="legendary_dreadnought"><div class="classes-legendary_dreadnought"></div>
          Legendary Dreadnought
        </li>
      </a>
      <a href="/d/magister">
        <li class="magister"><div class="classes-magister"></div>
          Magister
        </li>
      </a>
      <a href="/d/primal_avatar">
        <li class="primal_avatar"><div class="classes-primal_avatar"></div>
          Primal Avatar
        </li>
      </a>
      <a href="/d/shadowdancer">
        <li class="shadowdancer"><div class="classes-shadowdancer"></div>
          Shadowdancer
        </li>
      </a>
      <a href="/d/shiradi_champion">
        <li class="shiradi_champion"><div class="classes-shiradi_champion"></div>
          Shiradi Champion
        </li>
      </a>
      <a href="/d/unyielding_sentinel">
        <li class="unyielding_sentinel"><div class="classes-unyielding_sentinel"></div>
          Unyielding Sentinel
        </li>
      </a>
    </ul>
  </aside>
  {{> class}}
  <!--<aside>
    <div class=skills>

    </div>
    <div class=clear></div>
    <div class=twist>
      {{> twists}}
    </div>
  </aside>
  <div class=clear></div>-->
</article>
