<article class="tree">
  <aside>
    <hgroup>
      <h2>Destinies</h2>
    </hgroup>
    <ul>
      {{#collection}}
        <a href="/d/{{dID}}"><li class="{{dID}}"><div class="classes-{{dID}}"></div>{{name}}</li></a>
      {{/collection}}
    </ul>
  </aside>
  {{> class}}
</article>