<article class="tree">
  <aside class=nav>
    <hgroup>
      <h2>Destinies</h2>
    </hgroup>
    <ul>
      {{#collection}}
        <a href="/d/{{dID}}"><li class="{{dID}}"><div class="classes-{{dID}}"></div>{{name}}</li></a>
      {{/collection}}
    </ul>
  </aside>
  {{> class}}
  <!--<aside>
    <div class=skills>
      
    </div>
    <div class=clear></div>
    <div class=twist>
      {{> twists}}
    </div>
  </aside>
  <div class=clear></div>-->
</article>