.tooltip
  position: absolute
  background: #242625
  padding: 20px
  max-width: 250px
  font-size: 12px
  right: 50px
  border-top: 2px #765337 solid
  border-right: 1px #765337 solid
  border-bottom: 2px #765337 solid
  border-left: 1px #765337 solid
  color: #c5c1c2
  line-height: 14px
  h4
    text-align: center
    margin-bottom: 10px